.content.container
  .row.vertical-center
    .col-md-4.col-md-offset-4.text-center

      %h1.title Correspondence
      %p.description
        Communicate with one correspondent, once a day.

      = link_to "Get Started", root_path, class: "btn btn-default"
